main {
  width: 700px;
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 200px;
}

.box {
  margin-bottom: 20px;
  padding: 30px 30px;
  background-color: rgba(95, 158, 160, 0.322);
  border-radius: 10px;
}

button,
input {
  margin: 10px 0;
  padding: 10px 25px;
  border-radius: 5px;
  border-color: rgba(128, 128, 128, 0.281);
}
.inputSection input {
  width: 55%;
  display: block;
}

.heading {
  margin-bottom: 0px;
}

.album {
  line-height: 0.2;
  background-color: rgba(211, 211, 211, 0.178);
  border-radius: 10px;
  padding: 25px 10px 10px;
  padding-bottom: 20px;
}
.album p {
  margin-left: 15px;
}

.updateButton,
.deleteButton {
  margin-right: 0;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.showMore {
  width: 100%;
  margin: 0px 0px 10px;
  padding: 0px 0px 10px;
}
